.sidebar {
  flex: 3;
  height: calc(100vh);
  /* position: relative; */
}
/* issue with height .sidebar */

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}
