.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImage {
  width: 40px;
  height: 40px;
  transform: scale(1.2);  
  margin-right: 10px;
  margin-left: 5px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 10px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImageContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}